.header-site{
   height: 100%;
   width: 100%;
   border: 2px transparent;
   border-radius: 5px;
   background-image: url("../images/tile-tittle.gif");
}

.nav-site{
    border: 2px;
    border-radius: 8px;
    background-color: #344076;
}

ul.master {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #344076;
}

li.master {
    float: left;
}

li.master a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li.master a:hover {
    background-color: #630008;
}


//------------------- The Login ------------------------