<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
<div id="alertPanel" style="text-align: center"></div>
<div class="container-fluid">
    <div class="col-md-4">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>id</th>    
                    <th>User Name</th>  

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in users">
                    <td id="{{$index}}-name">{{user.id}}</td>
                    <td id="{{$index}}-birthDate">{{user.userName}}</td>                   
                </tr>
            </tbody>
        </table>
    </div>
</div>
