<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
<div class="container-fluid">
    <div class="col-md-4">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>id</th>    
                    <th>User</th>  
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Pais</th>
                    <th>Ciudad</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in users">
                    <td id="{{$index}}-name">{{user.id}}</td>
                    <td id="{{$index}}-userName">{{user.userName}}</td>
                    <td id="{{$index}}-nombreUsuario">{{user.nombreUsuario}}</td>
                    <td id="{{$index}}-email">{{user.email}}</td>
                    <td id="{{$index}}-pais">{{user.pais}}</td>
                    <td id="{{$index}}-ciudad">{{user.ciudad}}</td>
                    <td>
                        <button id="{{$index}}-edit-btn" class="btn btn-default btn-sm" ><span class="glyphicon glyphicon-edit"></span> Detail</button>
                        <button id="{{$index}}-remove-btn" class="btn btn-default btn-sm" ><span class="glyphicon glyphicon-remove"></span> Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
