        <article class="post" ng-repeat="artista in artistasRecords">
            <header>
                <div class="title">
                    <h2><a ui-sref="artistaDetail({artistaId: artista.id})">{{artista.nombre}}</a></h2>
                </div>
            </header>
            <a ui-sref="artistaDetail({artistaId: artista.id})" class="image featured"><img ng-src="{{artista.imagen}}" alt="" /></a>
            <p>{{artista.descripcion}}</p>
            <footer>
                <ul class="actions">
                    <li><a ng-if="hasPermissions()" ui-sref="artistaUpdate({artistaId: artista.id})" class="button big">Actualizar</a></li>
                    <li><a ng-if="hasPermissions()" ui-sref="artistasDelete({artistaId: artista.id})" class="button big">Borrar</a></li>
                </ul>
                <ul class="stats">
                    <li><a href="#" class="icon fa-heart">28</a></li>
                    <li><a href="#" class="icon fa-comment">128</a></li>
                </ul>
            </footer>
	</article>
	<!-- Pagination -->
	<ul>
            <li><a ui-sref="artistasCreate" class="button big next">Agregar</a>
	</ul>