<article class="post" ng-repeat="comentario in comentariosRecords">
    <header>
        <div class="title">
            <h2><a ui-sref="comentarioDetail({comentarioId: comentario.id})">{{"Comentario #" + comentario.id}}</a></h2>
        </div>
    </header>
    <a ui-sref="comentarioDetail({comentarioId: comentario.id})" class="image featured"><img ng-src="{{comentario.imagen}}" alt="" /></a>
    <p>Comentario {{comentario.comentario}}</p>
    <p>Fecha: {{comentario.fecha | date : yyyy-MM-dd}}</p>
     <footer>
        <ul class="actions">
            <li><a ng-if="hasPermissions()" ui-sref="comentarioUpdate({comentarioId: comentario.id})" class="button big">Actualizar</a></li>
            <li><a ng-if="hasPermissions()" ui-sref="comentarioDelete({comentarioId: comentario.id})" class="button big">Borrar</a></li>
        </ul>
        <ul class="stats">
            <li><a href="#" class="icon fa-heart">28</a></li>
            <li><a href="#" class="icon fa-comment">128</a></li>
        </ul>
    </footer>
</article>
<!-- Pagination -->
<ul class="actions pagination" ng-if="hasPermissions()">
    <li><a ui-sref="comentariosCreate" class="button big next">Agregar</a>
</ul>