<article class="post">
    <form ng-submit="createComentario()" name="comentario">
        <div class="form-group row">
            <div class="form-group col-md-6">
                <label for="comentarioComentario" class="col-sm-2">comentario:</label>
                <input id="comentarioComentario" required ng-model="comentarioComentario" class="col-sm-6"/>
            </div>
        </div>

        <div class="form-group row">
            <div class="form-group col-md-6">
                <label for="comentarioFecha" class="col-sm-2">fecha</label>
                <input type="Date" id="comentarioFecha" required ng-model="comentarioFecha" class="col-sm-6"/>
            </div>
        </div>

        <div class="form-group row">
            <div class="form-group col-sm-4" ng-if="!comentario.$valid">
                <div class="alert alert-warning">
                    <strong>Warning!</strong><p>All inputs are required*</p>
                </div> 
            </div> 
        </div> 

        <div class="form-group row">
            <div class="form-group col-sm-12">
                <input ng-show="comentario.$valid" type="submit" value="Save" class="button big"/>
                <a class="button big" ui-sref="comentariosList">Cancelar</a>
            </div>

        </div>
    </form>
</article>
