        <article class="post" ng-repeat="espectaculo in espectaculosRecords">
            <header>
                <div class="title">
                    <h2><a ui-sref="espectaculoDetail({espectaculoId: espectaculo.id})">{{espectaculo.nombre}}</a></h2>
                </div>
            </header>
            <a ui-sref="espectaculoDetail({espectaculoId: espectaculo.id})" class="image featured"><img ng-src="{{espectaculo.imagen}}" alt="" /></a>
            <p>{{espectaculo.descripcion}}</p>
            <footer>
                <ul class="actions">
                    <li><a ng-if="hasPermissions()" ui-sref="espectaculoUpdate({espectaculoId: espectaculo.id})" class="button big">Actualizar</a></li>
                    <li><a ng-if="hasPermissions()" ui-sref="espectaculosDelete({espectaculoId: espectaculo.id})" class="button big">Borrar</a></li>
                </ul>
                <ul class="stats">
                    <li><a href="#" class="icon fa-heart">28</a></li>
                    <li><a href="#" class="icon fa-comment">128</a></li>
                </ul>
            </footer>
	</article>
	<!-- Pagination -->
	<ul class="actions pagination" ng-if="hasPermissions()">
            <li><a ui-sref="espectaculosCreate" class="button big next">Agregar</a>
	</ul>